*{
	margin:0;
	padding:0;
    text-decoration: none; 
    list-style: none;
    box-sizing: border-box;

}


body{
background-image: url(https://www.dpbagency.com/wp-content/uploads/2020/03/les-poissons-originaux-a-tester-chez-le-poissonnier.jpg);
font-family: montserrat;

}
nav{

	background:#0082e6;
	height:80px;
	width: 100%;

}

label.logo{

  color:white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;


}


nav ul{

float: right;
margin-right: 20px;

}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}


nav ul li a{

 color:white;
 font-size: 17px;
 padding: 7px 13px;
 border-radius: 3px;
 font-family: arial;

}




a.active,a:hover{

	background:#1b9bff;
	transition: .5s;



}
p{
    color:black;
	font-size: 28px;
    font-weight: 400px;
    line-height: 30px;
}
